################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
src/data-extraction/SubtypeInduction/App.config
*.diagsession
